<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="me.dispatch.write-permissions"
    version="0.1">
  <name>Cordova Write Permissions</name>
  <license>Apache 2.0 License</license>
  <author>Dispatch</author>
  <description>
    Request the necessary wirte permissions.
  </description>

  <info>
    This plugin replaces the need for adding permisions to the AndroidManifest.xml.
  </info>

  <platform name="android">
    <config-file target="AndroidManifest.xml" parent="/manifest">
      <uses-sdk android:minSdkVersion="14" android:targetSdkVersion="21" />
      <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />  
    </config-file>
  </platform>
</plugin>
